body,html{
    width: 100%;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(ROG.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

h1{
    display: flex;
    color: aliceblue;
    justify-content: center;
    margin-top: 100px;
    border: 100px;
    border-color: rgb(234, 40, 40);

}
.btn{
    border-radius: 300px;
    padding: 20px 25px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(234, 40, 40);
    color: white;
    justify-content: center;
}
.btn:hover{
    background-color: brown;
    border-width: 4px;
}